<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="M2P.SeleniumDownloadLinkTest"/>
      <class name="M2P.DemoQAHandleFrame"/>
      <class name="M2P.DemoQAHandleAlert"/>
      <class name="M2P.DemoWebShop"/>
      <class name="M2P.PageTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
